body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 40px;
    width: 100%;
}

.heading-top {
    background-image: url(images/donation13.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

.section {
    display: flex;
    margin-bottom: 100px;
}

.link-button {
    text-decoration: none;
    background-color: orchid;
    padding: 10px 40px;
    border-radius: 10px;
}

.heading-up {
    color: black;
    text-align: center;
}

.heading-down {
    text-align: center;
}

.flexible-container {
    display: flex;
    margin-bottom: 100%;
}

.half-width {
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    padding: 2%;
    margin: 1%;
}

.one {
    margin-bottom: 10%;
}

.two {
    margin-bottom: 10%;
}

.amounts {
    display: flex;
    margin-bottom: 5%;
}

.tk {
    padding: 1%;
    margin: 1%;
    text-align: right;
}

.red {
    border: 7px solid red;
    color: red;
}

.fx {
    display: flex;
}

.dx {
    width: 50%;
    padding: 5%;
}

.px {
    background-color: orchid;
    padding: 15px 30px;
    border-radius: 10%
}

.bx {
    display: flex;
}

.cx {
    width: 50%;
    padding: 15px 30px;
    border-radius: 10%;
}

.hd {
    text-align: center;
}